body {
margin: 0;
padding: 0;
}

#map {
    width: 500px;
    height: 500px;
}

.marker {
background-image: url('../images/coffee-icon.png');
background-size: cover;
width: 100px;
height: 100px;
border-radius: 50%;
cursor: pointer;
}

.mapboxgl-popup {
max-width: 200px;
}

.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}

.poi {
    background-image: url('../images/mapbox-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}